name: assets-generator

on:
  schedule:
    - cron: "37 1,13 * * *" # this is UTC
  push:
    branches:
      - "main"
    paths:
      - "src/**"
      - "go.mod"
      - "go.sum"
  workflow_dispatch:

jobs:
  assets-generator:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: Set up Go
        uses: actions/setup-go@v3
        with:
          go-version: 1.18

      - name: Run go code
        run: |
          go run ./src -sleep .
        env:
          TIBIADATA_PROXY: ${{ secrets.TIBIADATA_PROXY }}

      - name: JQ formatting JSON
        run: |
          # running jq -c . to compact output
          jq -c . output.json > docs/data.min.json

          # running jq . to easier readable file
          jq . output.json > docs/data.json

      - name: Generate checksum for data.json
        run: |
          # generating checksum for all JSON files in folder
          find *.json -type f -exec sha256sum {} \; > sha256sum.txt
          find *.json -type f -exec sha512sum {} \; > sha512sum.txt
        working-directory: docs

      - uses: EndBug/add-and-commit@v9
        with:
          # The arguments for the `git add` command (see the paragraph below for more info)
          add: "docs"
          # The message for the commit
          message: ".github/workflows/generate.yml: workflow generated JSON"
