name: assets-generator

on:
  schedule:
    - cron: "37 */2 * * *" # this is UTC
  push:
    branches:
      - main
    paths:
      - "src/**"
      - "go.mod"
      - "go.sum"
  workflow_dispatch:

jobs:
  assets-generator:
    runs-on: ubuntu-latest
    outputs:
      changed: ${{ steps.add-and-commit.outputs.committed }}
    steps:
      - name: Checkout
        uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 #v5.0.0

      - name: Set up Go
        uses: actions/setup-go@44694675825211faa026b3c33043df3e48a5fa00 #v6.0.0
        with:
          go-version-file: go.mod

      - name: Connect to Tailnet
        uses: tailscale/github-action@6cae46e2d796f265265cfcf628b72a32b4d7cade #v3.3.0
        with:
          args: --accept-dns=true
          oauth-client-id: ${{ secrets.TS_OAUTH_CLIENT_ID }}
          oauth-secret: ${{ secrets.TS_OAUTH_SECRET }}
          tags: tag:github-runner
          version: latest

      - name: Run go code
        run: |
          go run ./src -sleep .

      - name: JQ formatting JSON
        run: |
          # running jq -c . to compact output
          jq -c . output.json > docs/data.min.json

          # running jq . to easier readable file
          jq . output.json > docs/data.json

      - name: Generate checksum for data.json
        run: |
          # generating checksum for all JSON files in folder
          find *.json -type f -exec sha256sum {} \; > sha256sum.txt
          find *.json -type f -exec sha512sum {} \; > sha512sum.txt
        working-directory: docs

      - uses: EndBug/add-and-commit@a94899bca583c204427a224a7af87c02f9b325d5 #v9.1.4
        id: add-and-commit
        with:
          add: "docs"
          message: ".github/workflows/generate.yml: workflow generated JSON"

  github-pages-deploy:
    runs-on: ubuntu-latest
    needs: assets-generator
    if: needs.assets-generator.outputs.changed == 'true'
    steps:
      - name: Dispatch GitHub Pages deployment
        uses: peter-evans/repository-dispatch@5fc4efd1a4797ddb68ffd0714a238564e4cc0e6f #v4.0.0
        with:
          event-type: tibiadata-api-assets-deploy
